web_client/Connected Services/ServiceReference/UsersManagementService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/backend2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/backend2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/UsersManagementService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClassLibrary1" />
  <xs:complexType name="Returnable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Boolean" type="xs:boolean" />
      <xs:element minOccurs="0" name="CheckSum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contains" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StringData" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClassLibrary1" minOccurs="0" name="UserList" nillable="true" type="q1:ArrayOfUser" />
      <xs:element minOccurs="0" name="timestamp" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Returnable" nillable="true" type="tns:Returnable" />
</xs:schema>